.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movieHeader {
  background-color: rgb(40, 38, 48);
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.movieHeader h1{
  color: whitesmoke;
}

.movieHeader input{
  width: 79%;
  height: 25px;
  margin-bottom: 10px;
  transform: translateY(-9px);
  border-radius: 4px;
}

.movieTile {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}